.cardsContainer{
    text-align:center;
    display:flex;
    flex-wrap:wrap;
}
.card{
    align:center;
    background-color: #550000;
    border: 1px solid magenta;
    border-radius:10px;
    color:red;
    display:flex;
    flex-wrap:wrap;
    margin-left:auto;
    margin-right:auto;
    margin-top:1cm;
    margin-bottom:1cm;
    min-height:4cm;
    min-width:3cm;
    padding:.2cm;
}

p{

}

h1{
    color:blue;
    margin-bottom:1cm;
}
body{
    background-color:#ffd7e9
}