#intro{
    font-family:Lucida Handwriting;
    font-size:40px;
    color:red;
}
.cardsContainer{
    text-align:center;
    display:flex;
    flex-wrap:wrap;
}
.card{
    align:center;
    background-color:#f6f5f3;
    border: 1px solid #d3d3d3;
    border-radius:10px;
    color:red;

    font-family:Courier New;

    margin-left:auto;
    margin-right: auto;
    margin-top:1cm;
    margin-bottom:1cm;
    min-height:4cm;
    min-width:3cm;
    padding:.2cm;
}


h2 {
    margin:1cm;
    font-size:35px;
}