.cardsContainer{
    text-align:center;
    display:flex;
    flex-wrap:wrap;
}

h2 {
    background-color:#faf8f6;
    border-left:3px solid #808080;
    color:#808080;
    font-size:35px;
    margin:.5cm;
    padding:.5cm;
}

h3 {
    color:black;
    font-size:20px;;
}

#intro{
    color:red;
    display:block;
    font-family:Lucida Handwriting, cursive;
    font-size:40px;
    margin-left:auto;
    margin-right:auto;
}

.myButton{
    background-color:#b0b0b0;
    border:none;
    border-radius:5px;
    color:black;
    padding:6px;
    margin:5px;

    transition: background-color 1s;
    transition: color 1s;
}

.myButton:hover{
    outline:2px solid #40E0D0;
    background-color:black;
    color:white;
    cursor:pointer;
}
.mycard{
    align:center;
    background-color:#f6f5f3;
    border: 1px solid #d3d3d3;
    border-radius:10px;
    color:gray;

    font-family:arial;
    font-size:14px;
    font-weight:lighter;

    margin-left:auto;
    margin-right: auto;
    margin-top:1cm;
    margin-bottom:1cm;
    min-height:4cm;
    min-width:3cm;
    max-width:7cm;
    padding:.2cm;

    box-shadow:;
    transition:box-shadow .7s;

}

.mycard:hover{
    box-shadow:2px 2px 10px 10px #888888;
}


@media (max-width:  600px){
    #namaste{
        max-width:100%;
        height:auto;
    }
}

/*contact button*/
#contacts{
    border: 1px solid gray;
    border-radius:30px;
    padding:15px 1px;
    width:5cm;

    box-shadow:;
    transition:box-shadow .7s;
}

#contacts:hover{
    box-shadow:2px 2px 10px 10px #888888;
}

.contButton{
    width:.7cm;
    margin:.1cm;
    outline:0px black;
}
